
<div class="nav">
  <ul id= "no-bullets" class="no-bullets navigation-list">
    <li class="navigation-item dropdown active no-bullets" style="list-style-type: none;">
      <a class="nav-link" href="#" id="navbarDropdown" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Category
        <span class="arrow down arrows"></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Main Course</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Soups</a>
      </div>

    </li>
    <li class="navigation-item dropdown active" style="list-style-type: none;">
      <a class="nav-link" href="#" id="navbarDropdown" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sorting
        <span class="arrow down arrows"></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">1</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">2</a>
      </div>
    </li>
    <li class="navigation-item dropdown active" style="list-style-type: none;">
      <a class="nav-link" href="#" id="navbarDropdown" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Vegetarian
        <span class="arrow down arrows"></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Main Course</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Soups</a>
      </div>
    </li>
  </ul>
  <p class="paragraph3">Price</p>
  <div id="range"> </div>
</div>