<div id="loginbox"
     class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2 login">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">Details</div>
    </div>
    <div style="padding-top: 30px" class="panel-body">
      <%= form_with(model: @order, url: "/details", local: true) do |f| %>
        <div style="margin-bottom: 25px" class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
          <%= f.text_field :address, placeholder: "Address", class: "form-control" %>
        </div>
        <div style="margin-bottom: 25px" class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
          <%= f.text_field :phone_number, placeholder: "Phone Number", class: "form-control" %>
        </div>
        <%= f.submit "Place Order", class: "btn edit-button" %>
      <% end %>
      <p>*For the moment the payment can be done only with cash*</p>
    </div>
  </div>
</div>
