// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.scan-order {
  margin-top: 15px;
  margin-left: 41%;
}

.payment-text {
  text-align: center;
  mergin-top: 10px;
}
