// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.panel-title {
  display: flex;
  justify-content: center;
  font-size: x-large;
  color: black;
}

.panel-primary > .panel-heading {
  background-color: orange !important;
  border-color: orange !important;
}

.panel-primary {
  border-color: orange !important;
}

.btn-custom-signup {
  background-color:orange;
  border-color:orange;
  margin-left:28%
}

.btn-custom-update {
  background-color:orange;
  border-color:orange;
  margin-left:30%
}

.users-page {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
  }
}
