<footer id="container2" >
  <% Product.all.each do |product| %>
    <div class="card">
      <%= image_tag product.image, class:"dish-image" if product.image.attached? %>
      <div class="card-details-container">
        <h4><b><%= product.name %></b></h4>
        <p><%= product.description %></p>
        <p class="dish-price">$ <%= product.price %></p>
      </div>
    </div>
  <%end %>
</footer>