<h1 class="title"> Ordering Food </h1>
<div class="lines-container">
  <div class="holder">
    <div class="tiny-line tiny-line1"></div>
    <div class="tiny-line tiny-line2"></div>
  </div>
  <%= image_tag "cutlery.jpg", class: "logo2" %>
  <div class="holder">
    <div class="tiny-line tiny-line1"></div>
    <div class="tiny-line tiny-line2"></div>
  </div>
</div>
<div class="paragraph1">
  <p class="paragraph2">Maecenas vells at magna sagittis venenatis. Integer pretium auctor magna, egestas justo gravida
    vitae. In lacinia auctor auctor.
  </p>
</div>
